<h3>To Do</h3>

<!-- Boton de action que hace el submit en la BBDD-->
<form method="POST" action="/">
    <!-- Token de seguridad - CSRF verification failed. Request aborted. 403 -->
    {%csrf_token%}
    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div>
        <p>
            <!-- Update -->
            <a href="{% url 'update_task' task.id %}">Update</a>

            <!-- Delete -->
            <a href="{% url 'delete_task' task.id %}">Delete</a>

            <!-- Si esta compeltada se tachara -->
            {{task}}
        </p>
    </div>
{% endfor %}